@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap%27');
body {
    color: white;
}

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}

.chars {
    max-height: 50vh;
    position: relative;
    bottom: 10vh;
}

#player {
    position: fixed;
    left: 5vw;
}

#enemy {
    position: fixed;
    right: 5vw;
}

#bare {
    width: 30vw;
    height: 20px;
    border: 4px solid black;
    text-align: center;
}
#barp {
    width: 30vw;
    height: 20px;
    border: 4px solid black;
    text-align: center;
}
progress#bare {
    direction: rtl;
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: blueviolet;
}

#playerBar {
    position: fixed;
    left: 5vw;
}

#enemyBar {
    position: fixed;
    right: 5vw;
    text-align: right;
}

.set {
    display: flex;
    justify-content: center;
}

.option {
    min-width: 10vw;
}

.place {
    position: fixed;
    bottom: 5vh;
}

.attack {
    background-color: red;
}

.heal {
    background-color: green;
    color: white;
}
#info{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 5vh;
}

.input_video {
    display: none;
}

.output_canvas {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 25vh;
    transform: scaleX(-1);
}
button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}